<!DOCTYPE html>
<html>

<head>
    <title>Grupo SB - Segurança Patrimonial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resource/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../resource/proprio/css/css_proprio.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Grupo SB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li  class="active"><a href="empresa.html">Empresa</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="sustentabilidade.html">Sustentabilidade</a></li>
                    <li><a href="publico_alvo.html">Público alvo</a></li>
                    <li><a href="parceiros.html">Parceiros</a></li>
                    <li><a href="trabalhe_conosco.html">Trabalhe conosco</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="../images/logo.jpeg" alt="GrupoSB">
            </div>
            <div class="col-md-8">
                <h1>Grupo SB</h1>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Somos uma empresa com profissionais com larga experiência neste mercado, na prestação de serviços de limpeza, conservação,
                    portaria, controlador de acesso e recepção.
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Trabalhamos com materiais e equipamentos de excelente qualidade e contamos com colaboradores treinados e supervisores capacitados
                    para melhor atender a sua demanda de forma personalizada, com eficiência e rapidez. Na certeza de podermos
                    disponibilizar a melhor gama de benefícios, colocamo-nos a disposição para maiores esclarecimentos.
                </p>
                </br>
                </br>
                <h2>Quem Somos</h2>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    A Empresa Grupo SB Serviços e Terceirização nasceu na cidade de São Paulo da visão de um grupo de amigos e empreendedores
                    profissionais, competentes e com experiência em terceirização e prestação de serviços em geral. Estamos
                    em busca de novas parcerias.
                </p>
                <p> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Somos especializados em prestação e terceirização de serviços e fornecimento de mão de obra especializada
                    em diversos setores, oferecendo soluções personalizadas para cada tipo de cliente, independente do seu
                    ramo de atividade.
                </p>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="../images/missao.jpg" alt="GrupoSB missão">
            </div>
            <div class="col-md-8">
                <h2>Nossa Missão</h2>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Agregar sempre novas técnicas em nossos serviços, visando preservar a saúde e segurança de nossos colaboradores, parceiros
                    e clientes com menor custo e maior benefício se destacando no mercado de trabalho com qualidade e preço
                    justo.
                </p>
                </br>
                </br>
                <h2>Nosso Compromisso com os Clientes</h2>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Estar sempre aptos para servir, respeitando e orientando nossa atividade dentro das necessidades de nossos clientes. Buscar
                    sempre novas técnicas para novas atividades, desenvolvendo o serviço para atender com eficiência as expectativas
                    de nossos clientes.
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Valorizar sempre nossos colaboradores, desenvolvendo-os profissionalmente para que os mesmos possam atender nossos clientes
                    de forma sustentável, justificando a confiança a nós depositada. Respeitar e cumprir com todos os compromissos
                    acordados em contrato, sobre tudo, na parte fiscal e trabalhista, dando confiabilidade e transparência
                    a nossos parceiros.
                </p>
            </div>
        </div>
    </div>

    <script src="../resource/jquery/jquery.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>