<!DOCTYPE html>
<html>

<head>
    <title>Grupo SB - Segurança Patrimonial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resource/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../resource/proprio/css/css_proprio.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="../index.html">Grupo SB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="sustentabilidade.html">Sustentabilidade</a></li>
                    <li class="active"><a href="publico_alvo.html">Público alvo</a></li>
                    <li><a href="parceiros.html">Parceiros</a></li>
                    <li><a href="trabalhe_conosco.html">Trabalhe conosco</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <img class="img-responsive" src="../images/alvo-1.jpg" alt="GrupoSB publico alvo">
                </div>
                </br>
                <div class="row">
                    <img class="img-responsive" src="../images/alvo-2.jpg" alt="GrupoSB publico alvo">
                </div>
            </div>
            <div class="col-md-8">
                <h1>Público Alvo</h1>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Administradora de condomínios / condomínios residenciais e comerciais / indústrias /
                    shopping / clínicas e hospitais / galpões industriais / concessionárias / universidades / escolas / clubes
                    de temporadas / laboratórios / consultórios / construtoras / canteiro de obras / stands de vendas / supermercados
                    / postos de combustíveis / metalúrgicas / eventos e outros.
                </p>
            </div>
        </div>
    </div>

    <script src="../resource/jquery/jquery.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>