<!DOCTYPE html>
<html>

<head>
    <title>Grupo SB - Segurança Patrimonial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resource/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../resource/proprio/css/css_proprio.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="../index.html">Grupo SB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li class="active"><a href="servicos.html">Serviços</a></li>
                    <li><a href="sustentabilidade.html">Sustentabilidade</a></li>
                    <li><a href="publico_alvo.html">Público alvo</a></li>
                    <li><a href="parceiros.html">Parceiros</a></li>
                    <li><a href="trabalhe_conosco.html">Trabalhe conosco</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs hidden-sm">
                <div class="row"><img class="img-responsive" src="../images/servicos-1.jpg" alt="GrupoSB serviços style=" width: 400px; height:270px;
                        ""></div>
                </br>
                </br>
                <div class="row"><img class="img-responsive" src="../images/servicos-2.jpg" alt="GrupoSB serviços" style=" width: 400px; height:270px;"></div>
                </br>
            </div>
            <div class="col-md-8">
                <h1>Serviços</h1>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O Grupo SB Serviços e Terceirização, além do serviço de conservação, limpeza, portaria,
                    recepção e segurança patrimonial, muitos outros serviços integrados poderão ser contratados a pedido
                    do cliente em diversos setores, oferecendo solução. Veja atentamente quais são as opções disponíveis:
                </p>
                <img class="img-responsive hidden-md hidden-md hidden-lg" src="../images/servicos-1.jpg" alt="GrupoSB serviços" style=" width: 400px; height:270px; ">
                </br>
                </br>
                <h2>Terceirização</h2>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Terceirização é um processo de gestão onde são passadas para terceiros, atividades necessárias
                    para a organização da empresa, porém que não são atividades fim, sua empresa poderá se concentrar apenas
                    em tarefas essencialmente ligadas ao negócio em que atua.
                </p>
                </br>
                </br>
                <h2>Segurança em Eventos</h2>
                </br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O Grupo SB atua em eventos promocionais, corporativos, sociais e particulares. Colocamos
                    para o evento uma completa estrutura de segurança com pessoal altamente treinados e qualificados. O sucesso
                    de um evento é a segurança, uma vez que costumam reunir uma quantidade grande de pessoas.
                </p>
                </br>
            </div>
            <div class="row ">
                <div class="col-md-4 hidden-xs hidden-sm ">
                    <div class="row "><img class="img-responsive " src="../images/servicos-3.jpg " alt="GrupoSB serviços
                    " style=" width: 400px; height:270px; "></div>
                </div>
                <div class="col-md-8 ">
                    <span><img class="img-responsive " src="../images/seguranca.jpg " alt="GrupoSB seguranca " style="height:270px; "></span>
                </div>
            </div>
        </div>
    </div>

    <script src="../resource/jquery/jquery.js "></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js "></script>
</body>

</html>